body {
  background-color: aqua;
}

.center {
  text-align: center;
}

button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#historySection{
  margin-left: 20px;
}

h2{
  margin-left: 20px;
}

#historyH2 {
  font-style: oblique;
}

input {
  background-color: yellow;
}


